<html>
  <head>
    <title>ISMAC - Inscription au concours</title>
  </head>
  <body>
    <p>
      <strong>Bonjour {{ first_name }} {{ last_name }},</strong><br />
      <!-- Votre identifiant ISMAC est: {{ email }}<br /> -->
      Votre demande de candidature au concours d'accès en 1 ère année de {{ ee
      }} a été réussi:<br />
      <!-- {{ user.speciality }} pour l'année universitaire {{ user.academic_year
      }} a bien été enregistrée.<br /> -->
      Voici votre compte pour faire le suivi - Login :<br />
      {{ email }} - Mot de passe : {{ password }}<br />
      Les résultats des présélections seront affichés sur le site internet
      <a href="http://www.ismac.ma">www.ismac.ma</a> et au siège de l'ISMAC.<br />
      Veuillez imprimer cet e-mail et le ramener le jour de l'examen.<br />
      L'inscription au concours faite le : {{ created_at }}
    </p>
  </body>
</html>
